In [1]:
from data_pipeline.stage_01 import news_collector
from data_pipeline.stage_01.historical_data import fetch_market_data
from data_pipeline.stage_01.news_collector import fetch_news_df
from data_pipeline.stage_01 import historical_data

In [2]:
news_df = fetch_news_df(symbol='AAPL',start_date='2025-01-01')

Same date as previous batch: 2025-01-07
Fetching next batch starting from: 2025-01-07
Same date as previous batch: 2025-01-15
Fetching next batch starting from: 2025-01-15
Same date as previous batch: 2025-01-21
Fetching next batch starting from: 2025-01-21
Same date as previous batch: 2025-01-24
Fetching next batch starting from: 2025-01-24
Same date as previous batch: 2025-01-29
Fetching next batch starting from: 2025-01-29
Same date as previous batch: 2025-01-31
Fetching next batch starting from: 2025-01-31
Same date as previous batch: 2025-02-03
Fetching next batch starting from: 2025-02-03
Same date as previous batch: 2025-02-08
Fetching next batch starting from: 2025-02-08
Same date as previous batch: 2025-02-14
Fetching next batch starting from: 2025-02-14
Same date as previous batch: 2025-02-19
Fetching next batch starting from: 2025-02-19
Same date as previous batch: 2025-02-24
Fetching next batch starting from: 2025-02-24
Same date as previous batch: 2025-02-28
Fetching next batch starting from: 2025-02-28
Same date as previous batch: 2025-03-07
Fetching next batch starting from: 2025-03-07
Same date as previous batch: 2025-03-14
Fetching next batch starting from: 2025-03-14
Same date as previous batch: 2025-03-17
Fetching next batch starting from: 2025-03-17
Reached the latest date. Stopping loop.

In [3]:
market_df = fetch_market_data(ticker='AAPL', start_date='2025-01-01', end_date='2025-03-17')

[*********************100%***********************]  1 of 1 completed

In [4]:
market_df

Price,Date,Adj Close,Close,High,Low,Open,Volume
0,2025-01-02,243.582199,243.850006,249.100006,241.820007,248.929993,55740700
1,2025-01-03,243.092728,243.360001,244.179993,241.889999,243.360001,40244100
2,2025-01-06,244.730927,245.000000,247.330002,243.199997,244.309998,45045600
3,2025-01-07,241.944000,242.210007,245.550003,241.350006,242.979996,40856000
4,2025-01-08,242.433441,242.699997,243.710007,240.050003,241.919998,37628900
5,2025-01-10,236.589874,236.850006,240.160004,233.000000,240.009995,61710900
6,2025-01-13,234.142563,234.399994,234.669998,229.720001,233.529999,49630700
7,2025-01-14,233.023788,233.279999,236.119995,232.470001,234.750000,39435300
8,2025-01-15,237.608749,237.869995,238.960007,234.429993,234.639999,39832000
9,2025-01-16,228.009308,228.259995,238.009995,228.029999,237.350006,71759100
10,2025-01-17,229.727417,229.979996,232.289993,228.479996,232.119995,68488300
11,2025-01-21,222.395477,222.639999,224.419998,219.380005,224.000000,98070400
12,2025-01-22,223.584167,223.830002,224.119995,219.789993,219.789993,64126500
13,2025-01-23,223.414368,223.660004,227.029999,222.300003,224.740005,60234800
14,2025-01-24,222.535324,222.779999,225.630005,221.410004,224.779999,54697900
15,2025-01-27,229.607544,229.860001,232.149994,223.979996,224.020004,94863400
16,2025-01-28,237.998322,238.259995,240.190002,230.809998,230.850006,75707600
17,2025-01-29,239.097122,239.360001,239.860001,234.009995,234.119995,45486100
18,2025-01-30,237.329056,237.589996,240.789993,237.210007,238.669998,55658300
19,2025-01-31,235.740814,236.000000,247.190002,233.440002,247.190002,101075100
20,2025-02-03,227.759583,228.009995,231.830002,225.699997,229.990005,73063300
21,2025-02-04,232.544327,232.800003,233.130005,226.649994,227.250000,45067300
22,2025-02-05,232.214691,232.470001,232.669998,228.270004,228.529999,39620300
23,2025-02-06,232.963867,233.220001,233.800003,230.429993,231.289993,29925300
24,2025-02-07,227.380005,227.630005,234.000000,227.259995,232.600006,39707200
25,2025-02-10,227.649994,227.649994,230.589996,227.199997,229.570007,33115600
26,2025-02-11,232.619995,232.619995,235.229996,228.130005,228.199997,53718400
27,2025-02-12,236.869995,236.869995,236.960007,230.679993,231.199997,45243300
28,2025-02-13,241.529999,241.529999,242.339996,235.570007,236.910004,53614100
29,2025-02-14,244.600006,244.600006,245.550003,240.990005,241.250000,40896200
30,2025-02-18,244.470001,244.470001,245.179993,241.839996,244.149994,48822500
31,2025-02-19,244.869995,244.869995,246.009995,243.160004,244.660004,32204200
32,2025-02-20,245.830002,245.830002,246.779999,244.289993,244.940002,32316900
33,2025-02-21,245.550003,245.550003,248.690002,245.220001,245.949997,53197400
34,2025-02-24,247.100006,247.100006,248.860001,244.419998,244.929993,51326400
35,2025-02-25,247.039993,247.039993,250.000000,244.910004,248.000000,48013300
36,2025-02-26,240.360001,240.360001,244.979996,239.130005,244.330002,44433600
37,2025-02-27,237.300003,237.300003,242.460007,237.059998,239.410004,41153600
38,2025-02-28,241.839996,241.839996,242.089996,230.199997,236.949997,56833400
39,2025-03-03,238.029999,238.029999,244.029999,236.110001,241.789993,47184000
40,2025-03-04,235.929993,235.929993,240.070007,234.679993,237.710007,53798100
41,2025-03-05,235.740005,235.740005,236.550003,229.229996,235.419998,47227600
42,2025-03-06,235.330002,235.330002,237.860001,233.160004,234.440002,45170400
43,2025-03-07,239.070007,239.070007,241.369995,234.759995,235.110001,46273600
44,2025-03-10,227.479996,227.479996,236.160004,224.220001,235.539993,72071200
45,2025-03-11,220.839996,220.839996,225.839996,217.449997,223.809998,76137400
46,2025-03-12,216.979996,216.979996,221.750000,214.910004,220.139999,62547500
47,2025-03-13,209.679993,209.679993,216.839996,208.419998,215.949997,61368300
48,2025-03-14,213.490005,213.490005,213.949997,209.580002,211.250000,60060200

In [5]:
news_df

   Ticker        Date                                           headline
0    AAPL  2025-01-01  EXCLUSIVE: Top 20 Most-Searched Tickers On Ben...
1    AAPL  2025-01-02  Tim Cook, Mark Zuckerberg, Elon Musk, And More...
2    AAPL  2025-01-03  Biden-Era Net Neutrality Rules Overturned By F...
3    AAPL  2025-01-04  Apple CEO Tim Cook Reportedly Donates $1 Milli...
4    AAPL  2025-01-05  iPhone 17 Leak, Tim Cook's Donation To Trump I...
..    ...         ...                                                ...
70   AAPL  2025-03-13  Rise Of DeepSeek And Trump Tariff Threats Hurt...
71   AAPL  2025-03-14  Ross Gerber Finds Tesla Stock Expensive Despit...
72   AAPL  2025-03-15  Apple Reportedly Fights UK Government's 'Unacc...
73   AAPL  2025-03-16  Apple's Secretive UK Court Hearing, Metallica ...
74   AAPL  2025-03-17  Trump Trade Policy A 'Big Headache' For Custom...

[75 rows x 3 columns]

In [6]:
print(market_df.columns)
print(news_df.columns)

Index(['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')
Index(['Ticker', 'Date', 'headline'], dtype='object')

In [7]:
import pandas as pd
market_df['Date'] = pd.to_datetime(market_df['Date'])
news_df['Date'] = pd.to_datetime(news_df['Date'])

In [8]:
merged_df = pd.merge(
    market_df,
    news_df,
    on='Date',
    how='inner'
)

In [9]:
merged_df.head(2)

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker,headline
0,2025-01-02,243.582199,243.850006,249.100006,241.820007,248.929993,55740700,AAPL,"Tim Cook, Mark Zuckerberg, Elon Musk, And More..."
1,2025-01-03,243.092728,243.360001,244.179993,241.889999,243.360001,40244100,AAPL,Biden-Era Net Neutrality Rules Overturned By F...